<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Formulaire</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>

<h2>Ajouter un compte</h2>
<form th:action="@{/comptes/add}" method="post" class="border p-4 rounded shadow-lg bg-light">
	<div class="mb-3">
	           <label for="titulaire" class="form-label">Nom du titulaire :</label>
	           <input type="text" name="titulaire" class="form-control">
	       </div>
		   <div class="mb-3">
		              <label for="solde" class="form-label">solde initial :</label>
		              <input type="number" name="solde" class="form-control">
		          </div>


				  <button type="submit" class="btn btn-primary w-100">Valider</button>
</form>
</html>
