
<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Page Formulaire</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<h2>Détail du compte</h2>

<br>
<table class="table table-dark table-hover">
	    <thead>
			<th>Id</th>
			<th>Titulaire</th>
			<th>Solde</th>
			</thead>
			<tbody>
		</tr>
	    <tr th:each="c : ${comptes}">
	        <td th:text="${c.id}"></td>
	        <td th:text="${c.titulaire}"></td>
	        <td th:text="${c.solde}"></td>
	       </tr>
		   </tbody>
	</table>
	</html>

<form th:action="@{/comptes/depot/{id}(id=${c.id})}" method="post">
    <input type="number" name="montant"  placeholder="Montant à déposer" />
    <button type="submit">Déposer</button>
</form>

<form th:action="@{/comptes/retrait/{id}(id=${c.id})}" method="post">
    <input type="number" name="montant"  placeholder="Montant à retirer" />
    <button type="submit">Retirer</button>
</form>

</html>
